<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>24272398369-747l8ad03hpremgmi08r4m4o6ndtcjjq.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.24272398369-747l8ad03hpremgmi08r4m4o6ndtcjjq</string>
	<key>API_KEY</key>
	<string>AIzaSyDr2dXywJtw0YA7cnmiiwkWgbCD-pgaXcE</string>
	<key>GCM_SENDER_ID</key>
	<string>24272398369</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.flutterTemplate3</string>
	<key>PROJECT_ID</key>
	<string>flutter-template-369aa</string>
	<key>STORAGE_BUCKET</key>
	<string>flutter-template-369aa.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:24272398369:ios:97d40932fc6f581a1cdb60</string>
</dict>
</plist>